<div class="home-4">
    <div class="container">

        <h2 class="title-2 white">
            How it Works
            <span></span>
        </h2>

        <ul class="home-4__list">
            <li class="home-4__list_item">
                <div class="home-4__list_item_icon">
                    <img src="../../assets/img/icons/home-4__icon-1.png" alt="">
                </div>
                <div class="home-4__list_item_title">
                    Order <br>
                    Visa-document <br>
                    Package
                </div>
            </li>
            <li class="home-4__list_item">
                <div class="home-4__list_item_icon">
                    <img src="../../assets/img/icons/home-4__icon-2.png" alt="">
                </div>
                <div class="home-4__list_item_title">
                    Receive documents by <br>
                    courier or by email
                </div>
            </li>
            <li class="home-4__list_item">
                <div class="home-4__list_item_icon">
                    <img src="../../assets/img/icons/home-4__icon-3.png" alt="">
                </div>
                <div class="home-4__list_item_title">
                    Submit document to <br>
                    embassy or online
                </div>
            </li>
            <li class="home-4__list_item">
                <div class="home-4__list_item_icon">
                    <img src="../../assets/img/icons/home-4__icon-4.png" alt="">
                </div>
                <div class="home-4__list_item_title">
                    Get your Visa
                </div>
            </li>
        </ul>
        <!-- /.home-4__list -->

    </div>
    <!-- /.container -->
</div>
<!-- /.home-4 -->