<div class="home-13">
    <div class="container">

        <div class="row">
            <div class="home-13__img col-md-6">
                <img src="../../assets/img/home-13__img.png" alt="">
            </div>
            <div class="col-md-6">
                <div class="home-13__title">Get free consultation</div>
                <div class="home-13__subtitle">And solve your stay limits issue in Ukraine</div>
                <form class="home-13__form">
                    <div class="home-13__form_title">
                        Leave a request <br> and we will contact you as soon as possible
                    </div>
                    <label>
                        <input class="form-control" placeholder="Enter your name *" required type="text">
                    </label>
                    <label>
                        <input class="form-control" placeholder="11 or 12 or 13 digits phone number *" required
                               type="tel">
                    </label>
                    <label>
                        <input class="form-control" placeholder="Enter your e-mail *" required type="email">
                    </label>
                    <button class="btn-3">Send a request!</button>
                </form>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>
<!-- /.home-13 -->