.home-9 {
	position: relative;
	padding: 12.5em 0;
	background-image: url(../../assets/img/bg/home-9.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	.title-2 {
		position: relative;
		color: rgba($white,.6);
		z-index: 1;
	}
}

.home-9__wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba($black,.75);
}

.home-9__content {
	position: relative;
	max-width: 750px;
	margin: 2em auto 0;
	z-index: 1;
	p {
		font-size: 18px;
		color: rgba($white,.6);
		text-align: justify;
	}
}

@include media-breakpoint-down(sm) {
	.home-9 {
		padding: 3em 0;
	}
	.home-9__content {
		margin: 1em auto 0;
	}
}