<div class="home-9" id="home-9">
    <div class="container">

        <h2 class="title-2">
            About us
            <span></span>
        </h2>

        <div class="home-9__content">
            <p>
                B-FREE is about freedom. Freedom from wasting time on unnecessary bureaucracy that everybody may face while
                traveling around the world or trying to move to some better place for living. The most important things for
                us are honesty and decency. Execution of agreements and commitments is above all for us. Since we found our
                company in 2015 we always follow to one rule - "Give more than take".
            </p>
        </div>

    </div>
    <!-- /.container -->
    <div class="home-9__wrapper"></div>
</div>
<!-- /.home-9 -->