<div class="home-6">
    <div class="container">

        <h2 class="title-2">
            Documents samples
            <span></span>
        </h2>

        <div class="home-6__tab">
            <div class="list-group" id="list-tab" role="tablist">
                <a aria-controls="tab-1" class="list-group-item list-group-item-action active" data-toggle="list"
                   href="#list-tab-1" id="list-tab-1-list" role="tab">Tax-ID</a>
                <a aria-controls="tab-2" class="list-group-item list-group-item-action" data-toggle="list"
                   href="#list-tab-2" id="list-tab-2-list" role="tab">TOURIST VISA INVITATION</a>
                <a aria-controls="tab-3" class="list-group-item list-group-item-action" data-toggle="list"
                   href="#list-tab-3" id="list-tab-3-list" role="tab">E-VISA</a>
                <a aria-controls="tab-4" class="list-group-item list-group-item-action" data-toggle="list"
                   href="#list-tab-4" id="list-tab-4-list" role="tab">WORK PERMIT</a>
                <a aria-controls="tab-5" class="list-group-item list-group-item-action" data-toggle="list"
                   href="#list-tab-5" id="list-tab-5-list" role="tab">REISDENCE PERMIT</a>
            </div>
            <div class="tab-content" id="nav-tabContent">
                <div aria-labelledby="list-tab-1-list" class="tab-pane fade show active" id="list-tab-1" role="tabpanel">
                    <img src="../../assets/img/home-6__img-1.jpg" alt="">
                </div>
                <div aria-labelledby="list-tab-2-list" class="tab-pane fade" id="list-tab-2" role="tabpanel">
                    <img src="../../assets/img/home-6__img-2.jpg" alt="">
                </div>
                <div aria-labelledby="list-tab-3-list" class="tab-pane fade" id="list-tab-3" role="tabpanel">
                    <img src="../../assets/img/home-6__img-3.jpg" alt="">
                </div>
                <div aria-labelledby="list-tab-4-list" class="tab-pane fade" id="list-tab-4" role="tabpanel">
                    <img src="../../assets/img/home-6__img-4.jpg" alt="">
                </div>
                <div aria-labelledby="list-tab-5-list" class="tab-pane fade" id="list-tab-5" role="tabpanel">
                    <img src="../../assets/img/home-6__img-5.png" alt="">
                </div>
            </div>
        </div>
        <!-- /.home-6__tab -->

    </div>
    <!-- /.container -->
</div>
<!-- /.home-6 -->