<div class="home-3" id="home-3">
    <div class="container">

        <h2 class="title-2">
            Our Services
            <span></span>
        </h2>

        <ul class="home-3__list">
            <li class="home-3__list_item">
                <div class="home-3__list_item_icon">
                    <img src="../../assets/img/icons/home-3__icon-1.png" alt="">
                </div>
                <div class="home-3__list_item_name">Ukrainian <br> Visa Support</div>
                <button class="home-3__list_item_btn btn-1" data-toggle="modal" data-target="#modalConsultation">Get Free Consultation</button>
            </li>
            <li class="home-3__list_item">
                <div class="home-3__list_item_icon">
                    <img src="../../assets/img/icons/home-3__icon-2.png" alt="">
                </div>
                <div class="home-3__list_item_name">Ukrainian <br> NAX-ID</div>
                <button class="home-3__list_item_btn btn-1" data-toggle="modal" data-target="#modalConsultation">Get Free Consultation</button>
            </li>
            <li class="home-3__list_item">
                <div class="home-3__list_item_icon">
                    <img src="../../assets/img/icons/home-3__icon-3.png" alt="">
                </div>
                <div class="home-3__list_item_name">Company (LLC) <br> Registration in Ukraine</div>
                <button class="home-3__list_item_btn btn-1" data-toggle="modal" data-target="#modalConsultation">Get Free Consultation</button>
            </li>
            <li class="home-3__list_item">
                <div class="home-3__list_item_icon">
                    <img src="../../assets/img/icons/home-3__icon-4.png" alt="">
                </div>
                <div class="home-3__list_item_name">Work permit <br> of Ukraine</div>
                <button class="home-3__list_item_btn btn-1" data-toggle="modal" data-target="#modalConsultation">Get Free Consultation</button>
            </li>
            <li class="home-3__list_item">
                <div class="home-3__list_item_icon">
                    <img src="../../assets/img/icons/home-3__icon-5.png" alt="">
                </div>
                <div class="home-3__list_item_name">Temporary residence <br> permit</div>
                <button class="home-3__list_item_btn btn-1" data-toggle="modal" data-target="#modalConsultation">Get Free Consultation</button>
            </li>
            <li class="home-3__list_item">
                <div class="home-3__list_item_icon">
                    <img src="../../assets/img/icons/home-3__icon-6.png" alt="">
                </div>
                <div class="home-3__list_item_name">Meeting <br> & Transfer</div>
                <button class="home-3__list_item_btn btn-1" data-toggle="modal" data-target="#modalConsultation">Get Free Consultation</button>
            </li>
        </ul>
        <!-- /.home-3__list -->

    </div>
    <!-- /.container -->
</div>
<!-- /.home-3 -->