.home-3 {
	padding: 2em 0 3em;
	background-color: $white;
}

.home-3__list {
	display: flex;
	flex-wrap: wrap;
	margin: -10px;
	padding-top: 30px;
}

.home-3__list_item {
	position: relative;
	width: calc(100%/3 - 20px);
	margin: 10px;
	padding: 1em 3em 6em;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
}

.home-3__list_item_icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80px;
}

.home-3__list_item_name {
	margin-top: 10px;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
}

.home-3__list_item_btn {
	position: absolute;
	left: 50%;
	bottom: 3em;
	transform: translateX(-50%);
	margin-top: 10px;
	&:hover {
		transform: translateX(-50%) scale(1.05);
	}
}

@include media-breakpoint-down(md) {
	.home-3__list_item {
		width: calc(50% - 20px);
	}
}

@include media-breakpoint-down(xs) {
	.home-3__list_item {
		width: 100%;
		padding: 1em;
	}
	.home-3__list_item_btn {
		position: inherit;
		left: inherit;
		bottom: inherit;
		transform: none;
		&:hover {
			transform: scale(1.05);
		}
	}
}