<header class="header">
    <div class="container">

        <div class="header__top">
            <div class="header__top_logo">
                <a href="/">
                    <img src="../../assets/img/icons/logo.png" alt="">
                </a>
            </div>
            <div class="header__top_info">
                <div class="header__top_info_icon">
                    <img src="../../assets/img/icons/address.png" alt="">
                </div>
                <div class="header__top_info_text">
                    Office 312, 23 Starovokzalna street,
                    <br>
                    Kiev, Ukraine
                </div>
            </div>
            <div class="header__top_info">
                <div class="header__top_info_icon">
                    <img src="../../assets/img/icons/working.png" alt="">
                </div>
                <div class="header__top_info_text">
                    Mon-Fri: 9:00 - 18:00
                    <br>
                    Sat-San: days off
                </div>
            </div>
            <div class="header__top_info">
                <div class="header__top_info_icon">
                    <img src="../../assets/img/icons/envelope.png" alt="">
                </div>
                <div class="header__top_info_text">
                    info@bfree.com.ua
                </div>
                <div class="header__top_info_networks">
                    <a href="/" class="header__top_info_networks_link">
                        <img src="../../assets/img/icons/whatsapp.png" alt="">
                    </a>
                    <a href="/" class="header__top_info_networks_link">
                        <img src="../../assets/img/icons/viber.png" alt="">
                    </a>
                    <a href="/" class="header__top_info_networks_link">
                        <img src="../../assets/img/icons/telegram.png" alt="">
                    </a>
                    <a href="/" class="header__top_info_networks_link">
                        <img src="../../assets/img/icons/messenger.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <!-- /.header__top -->

        <div class="header_bot">

            <nav class="navigation">
                <ul class="navigation__list">
                    <li class="navigation__list_item">
                        <a href="/" class="navigation__list_item_link">Main</a>
                    </li>
                    <li class="navigation__list_item">
                        <a href="/" class="navigation__list_item_link">Services</a>
                    </li>
                    <li class="navigation__list_item">
                        <a href="/" class="navigation__list_item_link">Price</a>
                    </li>
                    <li class="navigation__list_item">
                        <a href="/" class="navigation__list_item_link">About us</a>
                    </li>
                    <li class="navigation__list_item">
                        <a href="/" class="navigation__list_item_link">Reviews</a>
                    </li>
                    <li class="navigation__list_item">
                        <a href="/" class="navigation__list_item_link">FAQ</a>
                    </li>
                    <li class="navigation__list_item">
                        <a href="/" class="navigation__list_item_link">Contacts</a>
                    </li>
                </ul>
            </nav>
            <!-- /.navigation -->

        </div>
        <!-- /.header_bot -->

    </div>
    <!-- /.container -->
</header>
<!-- /.header -->