.header {
	padding-top: 5px;
	background-color: $white;
}

.header__block {
	display: flex;
	justify-content: space-between;
}

.header__logo {
	width: 100%;
}

.header__info {
	width: 100%;
}

.header__info_icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
}

.header__info_text {
	font-size: 14px;
	text-align: center;
}

.header__info_networks {
	margin: 10px auto 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header__info_networks_link {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
	&:hover {
		transform: scale(1.2);
	}
	&:last-child {
		margin-right: 0;
	}
	img {
		width: 25px;
	}
}

// ========== MEDIA ========== //
@include media-breakpoint-down(sm) {
	.header__block {
		align-items: center;
	}
	.header__info {
		display: none;
	}
}