<header class="header">
    <div class="container">
        <div class="header__block">
            <div class="header__logo">
                <a href="/">
                    <img src="../../assets/img/icons/logo.png" alt="">
                </a>
            </div>
            <div class="header__info">
                <div class="header__info_icon">
                    <img src="../../assets/img/icons/address.png" alt="">
                </div>
                <div class="header__info_text">
                    Office 312, 23 Starovokzalna street,
                    <br>
                    Kiev, Ukraine
                </div>
            </div>
            <div class="header__info">
                <div class="header__info_icon">
                    <img src="../../assets/img/icons/working.png" alt="">
                </div>
                <div class="header__info_text">
                    Mon-Fri: 9:00 - 18:00
                    <br>
                    Sat-San: days off
                </div>
            </div>
            <div class="header__info">
                <div class="header__info_icon">
                    <img src="../../assets/img/icons/envelope.png" alt="">
                </div>
                <div class="header__info_text">
                    info@bfree.com.ua
                </div>
                <div class="header__info_networks">
                    <a href="/" class="header__info_networks_link">
                        <img src="../../assets/img/icons/whatsapp.png" alt="">
                    </a>
                    <a href="/" class="header__info_networks_link">
                        <img src="../../assets/img/icons/viber.png" alt="">
                    </a>
                    <a href="/" class="header__info_networks_link">
                        <img src="../../assets/img/icons/telegram.png" alt="">
                    </a>
                    <a href="/" class="header__info_networks_link">
                        <img src="../../assets/img/icons/messenger.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</header>
<!-- /.header -->