<div class="home-5">
    <div class="container">

        <h2 class="title-2">
            Choose your package
            <span></span>
        </h2>

        <ul class="home-5__list">
            <li class="home-5__card">
                <div class="home-5__card_title">TOURIST VISA PACKAGE FOR UP TO 30 DAYS VISA</div>
                <div class="home-5__card_subtitle">
                    FOR THOSE WHO WANT TO VISIT UKRAINE FOR TOURIST PURPOSE UP TO 30 DAYS
                </div>
                <div class="home-5__card_price">100 <span>usd</span></div>
                <ul class="home-5__card_steep">
                    <li class="home-5__card_steep_item">
                        <div class="home-5__card_steep_item_icon">
                            <img src="../../assets/img/icons/pay-white.svg" alt="">
                        </div>
                        <div class="home-5__card_steep_item_content">
                            STEP-BY-STEP PAYMENT PROCEDURE
                        </div>
                    </li>
                    <li class="home-5__card_steep_item">
                        <div class="home-5__card_steep_item_icon">
                            <img src="../../assets/img/icons/time-white.svg" alt="">
                        </div>
                        <div class="home-5__card_steep_item_content">
                            PREPARE DOCUMENTS WITHIN 1 HOUR
                        </div>
                    </li>
                </ul>
                <button class="home-5__card_btn btn-2">Make an order</button>
                <div class="home-5__card_includes_title">OUR PRICE INCLUDES:</div>
                <ul class="home-5__card_includes_list">
                    <li class="home-5__card_includes_list_item">
                        Tourist voucher from licensed Ukrainian Travel company
                    </li>
                    <li class="home-5__card_includes_list_item">
                        Medical insurance policy for visa with 30 000 euro covering
                    </li>
                    <li class="home-5__card_includes_list_item">
                        Hotel booking according to your requirements
                    </li>
                    <li class="home-5__card_includes_list_item">
                        Individual travel plan & excursions
                    </li>
                    <li class="home-5__card_includes_list_item">
                        Guaranty letter for the Embassy of Ukraine
                    </li>
                    <li class="home-5__card_includes_list_item">
                        Information support regarding visa application process
                    </li>
                    <li class="home-5__card_includes_list_item">
                        Tour operator's license
                    </li>
                    <li class="home-5__card_includes_list_item">
                        Tour operator's bank guaranty
                    </li>
                    <li class="home-5__card_includes_list_item">
                        Visa application form (optionally)
                    </li>
                </ul>
                <button class="home-5__card_btn_bot btn-2">Make an order</button>
            </li>
            <li class="home-5__card">
                <div class="home-5__card_title">E-VISA UP TO 30 DAYS OF STAY</div>
                <div class="home-5__card_subtitle">
                    FOR CITIZENS OF COUNTRIES WHO ELIGIBLE FOR OBTAINING AN E-VISA
                </div>
                <div class="home-5__card_price">185 <span>usd</span></div>
                <ul class="home-5__card_steep">
                    <li class="home-5__card_steep_item">
                        <div class="home-5__card_steep_item_icon">
                            <img src="../../assets/img/icons/time-white.svg" alt="">
                        </div>
                        <div class="home-5__card_steep_item_content">
                            PREPARE DOCUMENTS WITHIN 1 DAY
                        </div>
                    </li>
                    <li class="home-5__card_steep_item">
                        <div class="home-5__card_steep_item_icon">
                            <img src="../../assets/img/icons/gear.svg" alt="">
                        </div>
                        <div class="home-5__card_steep_item_content">
                            E-VISA PROCESSING TIME 9 WORKING DAYS
                        </div>
                    </li>
                </ul>
                <button class="home-5__card_btn btn-2">Make an order</button>
                <div class="home-5__card_includes_title">OUR PRICE INCLUDES:</div>
                <ul class="home-5__card_includes_list">
                    <li class="home-5__card_includes_list_item">
                        85$ E-visa consulate fee
                    </li>
                    <li class="home-5__card_includes_list_item">
                        Tourist voucher from licensed Ukrainian Travel company
                    </li>
                    <li class="home-5__card_includes_list_item">
                        Medical insurance policy for visa with 30 000 euro covering
                    </li>
                    <li class="home-5__card_includes_list_item">
                        Hotel booking according to your requirements
                    </li>
                    <li class="home-5__card_includes_list_item">
                        Filling an submitting an E-visa application form
                    </li>
                    <li class="home-5__card_includes_list_item">
                        Getting an E-visa from Embassy website and sending it to client
                    </li>
                </ul>
                <button class="home-5__card_btn_bot btn-2">Make an order</button>
            </li>
            <li class="home-5__card">
                <div class="home-5__card_title">1-YEAR RESIDENCE PERMIT</div>
                <div class="home-5__card_subtitle">
                    FOR THOSE WHO WANT TO GET D-VISA AND 1-YEAR RESIDENCE PERMIT OF UKRAINE
                </div>
                <div class="home-5__card_price">950 <span>usd</span></div>
                <ul class="home-5__card_steep">
                    <li class="home-5__card_steep_item">
                        <div class="home-5__card_steep_item_icon">
                            <img src="../../assets/img/icons/pay-white.svg" alt="">
                        </div>
                        <div class="home-5__card_steep_item_content">
                            STEP-BY-STEP PAYMENT PROCEDURE
                        </div>
                    </li>
                    <li class="home-5__card_steep_item">
                        <div class="home-5__card_steep_item_icon">
                            <img src="../../assets/img/icons/time-white.svg" alt="">
                        </div>
                        <div class="home-5__card_steep_item_content">
                            RESIDENCE PERMIT PROCESSING TIME 20 DAYS
                        </div>
                    </li>
                </ul>
                <button class="home-5__card_btn btn-2">Make an order</button>
                <div class="home-5__card_includes_title">OUR PRICE INCLUDES:</div>
                <ul class="home-5__card_includes_list">
                    <li class="home-5__card_includes_list_item">
                        Consultation
                    </li>
                    <li class="home-5__card_includes_list_item">
                        Passport translation
                    </li>
                    <li class="home-5__card_includes_list_item">
                        Invitation for a D-visa
                    </li>
                    <li class="home-5__card_includes_list_item">
                        Extract from the Registry of the Ministry of Social Policy of Ukraine
                    </li>
                    <li class="home-5__card_includes_list_item">
                        Extract on the volunteer organization registration
                    </li>
                    <li class="home-5__card_includes_list_item">
                        Request for permit issuing
                    </li>
                    <li class="home-5__card_includes_list_item">
                        Filling in a D-visa application form
                    </li>
                    <li class="home-5__card_includes_list_item">
                        Making an appointment with an Embassy for submission of documents
                    </li>
                    <li class="home-5__card_includes_list_item">
                        Insurance for a foreigner (for D-visa)
                    </li>
                    <li class="home-5__card_includes_list_item">
                        State fee for 1 year residence permit
                    </li>
                    <li class="home-5__card_includes_list_item">
                        1-year medical insurance for residence permit
                    </li>
                    <li class="home-5__card_includes_list_item">
                        Obtaining a 1-year residence permit
                    </li>
                    <li class="home-5__card_includes_list_item">
                        Registration in Kiev
                    </li>
                </ul>
                <button class="home-5__card_btn_bot btn-2">Make an order</button>
            </li>
            <li class="home-5__card">
                <div class="home-5__card_title">3-YEARS RESIDENCE PERMIT(BUSINESS IMMIGRATION)</div>
                <div class="home-5__card_subtitle">
                    ONLY FOR ENTREPRENEURS OR BUSINESS OWNERS.
                </div>
                <div class="home-5__card_price">2000 <span>usd</span></div>
                <ul class="home-5__card_steep">
                    <li class="home-5__card_steep_item">
                        <div class="home-5__card_steep_item_icon">
                            <img src="../../assets/img/icons/pay-white.svg" alt="">
                        </div>
                        <div class="home-5__card_steep_item_content">
                            STEP-BY-STEP PAYMENT PROCEDURE
                        </div>
                    </li>
                    <li class="home-5__card_steep_item">
                        <div class="home-5__card_steep_item_icon">
                            <img src="../../assets/img/icons/time-white.svg" alt="">
                        </div>
                        <div class="home-5__card_steep_item_content">
                            RESIDENCE PERMIT PROCESSING TIME 45 DAYS
                        </div>
                    </li>
                </ul>
                <button class="home-5__card_btn btn-2">Make an order</button>
                <div class="home-5__card_includes_title">OUR PRICE INCLUDES:</div>
                <ul class="home-5__card_includes_list">
                    <li class="home-5__card_includes_list_item">
                        Consultation
                    </li>
                    <li class="home-5__card_includes_list_item">
                        Passport translation
                    </li>
                    <li class="home-5__card_includes_list_item">
                        Preparing POA
                    </li>
                    <li class="home-5__card_includes_list_item">
                        Obtaining a TAX-ID
                    </li>
                    <li class="home-5__card_includes_list_item">
                        Company registration
                    </li>
                    <li class="home-5__card_includes_list_item">
                        Design of company stamp (with high protection level)
                    </li>
                    <li class="home-5__card_includes_list_item">
                        State fee for company registration
                    </li>
                    <li class="home-5__card_includes_list_item">
                        Obtaining a 3-years work permit
                    </li>
                    <li class="home-5__card_includes_list_item">
                        450$ state fee for work permit
                    </li>
                    <li class="home-5__card_includes_list_item">
                        Filling in a D-visa application form
                    </li>
                    <li class="home-5__card_includes_list_item">
                        Making an appointment with an Embassy for submission of documents
                    </li>
                    <li class="home-5__card_includes_list_item">
                        Insurance for a foreigner (for D-visa)
                    </li>
                    <li class="home-5__card_includes_list_item">
                        State fee for 3- years residence permit
                    </li>
                    <li class="home-5__card_includes_list_item">
                        3-years medical insurance for residence permit
                    </li>
                    <li class="home-5__card_includes_list_item">
                        Obtaining a 1-year residence permit
                    </li>
                    <li class="home-5__card_includes_list_item">
                        Registration in Kiev
                    </li>
                </ul>
                <button class="home-5__card_btn_bot btn-2">Make an order</button>
            </li>
        </ul>
        <!-- /.home-5__list -->

    </div>
    <!-- /.container -->
</div>
<!-- /.home-5 -->