<div class="home-7">
    <div class="container">

        <h2 class="title-2">
            Required documents for start
            <span></span>
        </h2>

        <ul class="home-7__list">
            <li class="home-7__list_item">
                <div class="home-7__list_item_icon">
                    <img src="../../assets/img/icons/home-7__img-1.png" alt="">
                </div>
                <div class="home-7__list_item_title">
                    PHOTO OF THE FIRST PAGE <br> PASSPORT
                </div>
            </li>
            <li class="home-7__list_item">
                <div class="home-7__list_item_icon">
                    <img src="../../assets/img/icons/home-7__img-2.png" alt="">
                </div>
                <div class="home-7__list_item_title">
                    PLANNED DATES <br> TRAVEL <br> (DATE OF ENTRANCE AND EXIT)
                </div>
            </li>
            <li class="home-7__list_item">
                <div class="home-7__list_item_icon">
                    <img src="../../assets/img/icons/home-7__img-3.png" alt="">
                </div>
                <div class="home-7__list_item_title">
                    PERSONAL DATA
                </div>
            </li>
        </ul>
        <!-- /.home-7__list -->

    </div>
    <!-- /.container -->
</div>
<!-- /.home-7 -->