<div class="home-14" id="home-14">
    <div class="container">

        <h2 class="title-2">
            FAQ
            <span></span>
        </h2>

        <div class="row mt-5">
            <div class="col-lg-6">
                <div class="home-14__accordion">
                    <a class="home-14__accordion_link" href="#home-14__accordion-1">
                        WHat is ukraine visa?
                        <span></span>
                    </a>
                    <div class="home-14__accordion_content" id="home-14__accordion-1">
                        Ukraine visa is an official document that stamps to your passport or travel document and permits
                        the owner to cross the border of Ukraine and stay in Ukraine for a specified time period. The
                        visa contains information about entry and leave date, visa type and the allowed number of
                        entries, as well as owner's passport data and the information about the host organization (visa
                        sponsor). Please note that visa is the document that permits both entry and exit; if you stay in
                        Ukraine for a period that is longer than specified by the visa or lose the passport with the
                        visa, leaving the country will be problematic
                    </div>
                </div>
                <div class="home-14__accordion">
                    <a class="home-14__accordion_link" href="#home-14__accordion-2">
                        WHY DO I NEED AN INVITATION?
                        <span></span>
                    </a>
                    <div class="home-14__accordion_content" id="home-14__accordion-2">
                        An invitation is one of the required documents for every visa application submitted to the
                        Ukraine Consulate. It is required for every kind of visa and confirms purpose of you trip.
                    </div>
                </div>
                <div class="home-14__accordion">
                    <a class="home-14__accordion_link" href="#home-14__accordion-3">
                        WHERE CAN I obtain A UKRAINE VISA?
                        <span></span>
                    </a>
                    <div class="home-14__accordion_content" id="home-14__accordion-3">
                        To obtain a visa applicant should apply required documents to Consulate of Ukraine in his home
                        country. If applicant don't have Consulate of Ukraine in his home country applicant should apply
                        to Consulate of Ukraine at nearby country.
                    </div>
                </div>
                <div class="home-14__accordion">
                    <a class="home-14__accordion_link" href="#home-14__accordion-4">
                        What are the guarantees that I will get a visa?
                        <span></span>
                    </a>
                    <div class="home-14__accordion_content" id="home-14__accordion-4">
                        Every applicant should understand that to get Ukraine visa need to collect necessary documents.
                        Without this documents you will not be able to apply to Embassy of Ukraine. But also to get
                        Ukraine visa you need additional documents from your side (application form, tickets, bank
                        statement, cash, well known English language). Unfortunately even ambassador can't give you 100%
                        guaranty because Security Service of Ukraine and Ministry of Foreign Affairs of Ukraine will
                        make decision about your visa. However, due to our 4-years experience of working with more than
                        a thousand clients from all over the world, we know for sure what factors affect on the result,
                        and we influe on exactly on them, which in turn increases chances for obtaining a visa.
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="home-14__accordion">
                    <a class="home-14__accordion_link" href="#home-14__accordion-5">
                        how many days Embassy need to issue a visa?
                        <span></span>
                    </a>
                    <div class="home-14__accordion_content" id="home-14__accordion-5">
                        According to information from official website processing time for issuing a visa - 15-30 days.
                        But we know Embassy that issues visas for 1 day.
                    </div>
                </div>
                <div class="home-14__accordion">
                    <a class="home-14__accordion_link" href="#home-14__accordion-6">
                        Is any additional expenses?
                        <span></span>
                    </a>
                    <div class="home-14__accordion_content" id="home-14__accordion-6">
                        Some packages don't include delivery fee. So sometimes only additional expense it’s DHL delivery
                        fee. It's estimated and discuss before we start process. Approximately fee for documents
                        delivery is 40-80 USD.
                        <br><br>
                        Delivery terms 3-5 days.
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>
<!-- /.home-14 -->