<div class="home-12">
    <div class="container">

        <h2 class="title-2">
            HOW TO RECOGNIZE AND AVOID SCAMMERS?
            <span></span>
        </h2>

        <div class="home-12__img">
            <img alt="" src="../../assets/img/home-12__img.png">
        </div>

        <ul class="home-12__list">
            <li class="home-12__list_item">
                <div class="home-12__list_item_icon">
                    <img alt="" src="../../assets/img/icons/exclamation-mark.svg">
                </div>
                <div class="home-12__list_item_content">
                    <p>
                        If some one is telling you that you will get visa with guaranty - then you are almost become a
                        fraud victim. Because no one can give you 100% guaranty for visa issuing. Since 2015 we've seen
                        dozents of people who have became a fraud victim and lost even not hundreds bu thousands of
                        dollars. So please be smart and careful.
                    </p>
                </div>
            </li>
            <li class="home-12__list_item">
                <div class="home-12__list_item_icon">
                    <img alt="" src="../../assets/img/icons/exclamation-mark.svg">
                </div>
                <div class="home-12__list_item_content">
                    <p>
                        Ask to show company documents. There should be company ID. You can check company profile using
                        Ukrainian State Register website by entering this company ID. Some scammers could trying to
                        cheat you by sending another company documents or fake documents. That's why important to check
                        this company using State Register. And not less important to check is it really this person work
                        at this company.
                    </p>
                </div>
            </li>
            <li class="home-12__list_item">
                <div class="home-12__list_item_icon">
                    <img alt="" src="../../assets/img/icons/exclamation-mark.svg">
                </div>
                <div class="home-12__list_item_content">
                    <p>
                        Never trust to reviews and testimonials on the company website, because most of all companies
                        write fake reviews by themselves. Try to find company at Google Maps or Facebook and read
                        reviews there because Google and Facebook do not allow to moderate and delete bad reviews. If
                        company does not have Google or Facebook testimonials - it's very suspicious. Also scammers or
                        indecent companies usually trying to hide bad reviews in Facebook. So you will not be able to
                        see themWe sincerely do not recommend to deal with such companies.
                    </p>
                </div>
            </li>
            <li class="home-12__list_item">
                <div class="home-12__list_item_icon">
                    <img alt="" src="../../assets/img/icons/exclamation-mark.svg">
                </div>
                <div class="home-12__list_item_content">
                    <p>
                        Ask office and team photos. Or ask for video call from the company office. Then you will be able
                        check how much real this company are. Try to seek some company style that can confirm that this
                        photos or video really belong to this company because scammers like to use other companies
                        photos or trying to impersonate an employee of another company, which they are really not. To
                        avoid such things try to find more details about this company in Google. And try to call to
                        company phones to check them.
                    </p>
                </div>
            </li>
            <li class="home-12__list_item">
                <div class="home-12__list_item_icon">
                    <img alt="" src="../../assets/img/icons/exclamation-mark.svg">
                </div>
                <div class="home-12__list_item_content">
                    <p>
                        Always try to think critically and check everything that you hear from someone who is trying to
                        sell you something. Ask person to whom you are dealing with to send you some proofs that confirm
                        his or his company reliability. For example:<br>- website<br>- landline company phone number
                        (good companies have authomatic company styled greetings like every call-centre have)<br>-
                        office photos<br>- team photos<br>- happy clients photos<br>- company documents (with indicated
                        company ID). Necessarily check company ID using Official Ukrainian State Register website.<br>-
                        ask for signing an official agreement using company letterhead attested with company stamp
                    </p>
                </div>
            </li>
            <li class="home-12__list_item">
                <div class="home-12__list_item_icon">
                    <img alt="" src="../../assets/img/icons/exclamation-mark.svg">
                </div>
                <div class="home-12__list_item_content">
                    <p>
                        Usually scammers ask 100% payment in advance. In this case you are not protected from fraud.
                        Better to find companies who offer step-by-step payment procedure.
                    </p>
                    <p>
                        Also try to find companies who can propose online payment procedure using your Visa or
                        MasterCard. Because every company who have such feature was checked and authorized by bank
                        security service. And only after successful inspection bank allows to use online payment system.
                    </p>
                    <p>
                        If somebody offers you only cash money transfer like WesternUnion or MoneyGram without offering
                        any other option - we do not recommend to deal with such compamies or persons.
                    </p>
                </div>
            </li>
        </ul>
        <!-- /.home-12__list -->

    </div>
    <!-- /.container -->
</div>
<!-- /.home-12 -->