.home-12 {
	position: relative;
	top: -6em;
	margin-bottom: -6em;
	padding: 10em 0 3em;
	background-image: linear-gradient(to right, rgb(255, 252, 252) 0%, rgb(215, 215, 215) 100%);
}

.home-12__img {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2em;
	img {
		max-width: 100%;
	}
}

.home-12__list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 1em;
}

.home-12__list_item {
	display: flex;
	width: 50%;
	padding-right: 2em;
}

.home-12__list_item_icon {
	margin-right: 2em;
	img {
		width: 50px;
	}
}

.home-12__list_item_content {
	p {
		margin-bottom: 1em;
	}
}

@include media-breakpoint-down(lg) {
	.home-12 {
		top: 0;
		margin-bottom: 0;
		padding: 3em 0;
	}
}

@include media-breakpoint-down(sm) {
	.home-12 {
		padding: 2em 0;
	}
	.home-12__list_item {
		width: 100%;
		padding-right: 0;
	}
	.home-12__list_item_icon {
		margin-right: 0;
	}
}