.home-15 {
	position: relative;
	top: -6em;
	transform: skewY(-3deg);
	margin-bottom: -6em;
	padding: 6em 0;
	background: $bg-red;
	z-index: 2;
}

.home-15__block {
	transform: skewY(3deg);
	display: flex;
	align-items: center;
	justify-content: space-between;
	.box {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
}

.home-15__block_icon {
	margin-right: 4em;
	img {
		width: 100px;
	}
}

.home-15__block_title {
	font-size: 40px;
	color: $white;
}

@include media-breakpoint-down(md) {
	.home-15__block_icon {
		margin-right: 2em;
	}
}

@include media-breakpoint-down(sm) {
	.home-15 {
		padding: 3em 0;
	}
	.home-15__block {
		flex-wrap: wrap;
		.box {
			justify-content: center;
			width: 100%;
		}
	}
	.home-15__block_btn {
		margin: 2em auto 0;
	}
}

@include media-breakpoint-down(xs) {
	.home-15__block_icon {
		margin-right: 1em;
		img {
			width: 50px;
		}
	}
	.home-15__block_title {
		font-size: 24px;
	}
}