<div class="home-15">
    <div class="container">
        <div class="home-15__block">
            <div class="box">
                <div class="home-15__block_icon">
                    <img src="../../assets/img/icons/home-15__icon.png" alt="">
                </div>
                <div class="home-15__block_title">Any questions?</div>
            </div>
            <button class="home-15__block_btn btn-4">Ask the expert</button>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.home-15 -->