.navigation {
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 0;
	background-color: $white;
	z-index: 3000;
}

.navigation__list {
	display: flex;
	align-items: center;
	justify-content: center;
}

.navigation__list_item {
	margin-right: 50px;
	&:last-child {
		margin-right: 0;
	}
}

.navigation__list_item_link {
	font-weight: bold;
	font-size: 14px;
	color: $black;
	&:hover {
		color: $red;
	}
}

// ========== MEDIA ========== //
@include media-breakpoint-down(sm) {
	.navigation {
		top: 60px;
		display: none;
	}
	.navigation__list {
		flex-wrap: wrap;
	}
	.navigation__list_item {
		width: 100%;
		margin-right: 0;
		margin-bottom: 1em;
		text-align: center;
	}
	.navigation__list_item_link {
		font-size: 18px;
	}
}