<div class="home-10">
    <div class="container">

        <h2 class="title-2">
            Our clients
            <span></span>
        </h2>

        <div class="home-10__desc">
            Since we found our company, we had clients from all around the world. <br>
            We sure that the only way to be happy is to make other people happy.
        </div>

        <ul class="home-10__list">
            <li class="home-10__list_item">
                <a data-fancybox="gallery" href="../../assets/img/client-1.jpg" class="home-10__list_item_link">
                    <img src="../../assets/img/client-1.jpg" alt="">
                </a>
            </li>
            <li class="home-10__list_item">
                <a data-fancybox="gallery" href="../../assets/img/client-2.jpg" class="home-10__list_item_link">
                    <img src="../../assets/img/client-2.jpg" alt="">
                </a>
            </li>
            <li class="home-10__list_item">
                <a data-fancybox="gallery" href="../../assets/img/client-3.jpg" class="home-10__list_item_link">
                    <img src="../../assets/img/client-3.jpg" alt="">
                </a>
            </li>
            <li class="home-10__list_item">
                <a data-fancybox="gallery" href="../../assets/img/client-4.jpg" class="home-10__list_item_link">
                    <img src="../../assets/img/client-4.jpg" alt="">
                </a>
            </li>
            <li class="home-10__list_item">
                <a data-fancybox="gallery" href="../../assets/img/client-5.jpg" class="home-10__list_item_link">
                    <img src="../../assets/img/client-5.jpg" alt="">
                </a>
            </li>
            <li class="home-10__list_item">
                <a data-fancybox="gallery" href="../../assets/img/client-6.jpg" class="home-10__list_item_link">
                    <img src="../../assets/img/client-6.jpg" alt="">
                </a>
            </li>
            <li class="home-10__list_item">
                <a data-fancybox="gallery" href="../../assets/img/client-7.jpg" class="home-10__list_item_link">
                    <img src="../../assets/img/client-7.jpg" alt="">
                </a>
            </li>
            <li class="home-10__list_item">
                <a data-fancybox="gallery" href="../../assets/img/client-8.jpg" class="home-10__list_item_link">
                    <img src="../../assets/img/client-8.jpg" alt="">
                </a>
            </li>
            <li class="home-10__list_item">
                <a data-fancybox="gallery" href="../../assets/img/client-9.jpg" class="home-10__list_item_link">
                    <img src="../../assets/img/client-9.jpg" alt="">
                </a>
            </li>
        </ul>
        <!-- /.home-10__list -->

    </div>
    <!-- /.container -->
</div>
<!-- /.home-10 -->