<div class="home-8">
    <div class="container">

        <h2 class="title-2">
            DELIVERY & PAYMENT
            <span></span>
        </h2>

        <ul class="home-8__list">
            <li class="home-8__list_item">
                <div class="home-8__list_item_left">
                    <div class="home-8__list_item_left_icon">
                        <img src="../../assets/img/icons/home-8__icon-1.png" alt="">
                    </div>
                    <div class="home-8__list_item_left_title">WE DELIVER WORLDWIDE WITHIN 3-5 DAYS</div>
                </div>
                <div class="home-8__list_item_right">
                    <div class="home-8__list_item_right_img">
                        <img src="../../assets/img/icons/dhl.png" alt="">
                    </div>
                    <div class="home-8__list_item_right_img">
                        <img src="../../assets/img/icons/fedex.png" alt="">
                    </div>
                    <div class="home-8__list_item_right_img">
                        <img src="../../assets/img/icons/aramex.jpg" alt="">
                    </div>
                    <div class="home-8__list_item_right_img">
                        <img src="../../assets/img/icons/np.jpg" alt="">
                    </div>
                </div>
            </li>
            <li class="home-8__list_item">
                <div class="home-8__list_item_left">
                    <div class="home-8__list_item_left_icon">
                        <img src="../../assets/img/icons/home-8__icon-2.png" alt="">
                    </div>
                    <div class="home-8__list_item_left_title">PAYMENT OPTIONS</div>
                </div>
                <div class="home-8__list_item_right">
                    <div class="home-8__list_item_right_img">
                        <img src="../../assets/img/icons/visa.jpg" alt="">
                    </div>
                    <div class="home-8__list_item_right_img">
                        <img src="../../assets/img/icons/money-gram.jpg" alt="">
                    </div>
                    <div class="home-8__list_item_right_img">
                        <img src="../../assets/img/icons/wu.jpg" alt="">
                    </div>
                    <div class="home-8__list_item_right_img">
                        <img src="../../assets/img/icons/swift.jpg" alt="">
                    </div>
                </div>
            </li>
        </ul>
        <!-- /.home-8__list -->

    </div>
    <!-- /.container -->
</div>
<!-- /.home-8 -->