@import "reboot";
@import "variables";

.bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url(../../../assets/img/bg/bg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: -1;
}

@import "hamburger";
@import "buttons";
@import "titles";
@import "form";
@import "slider";
@import "fancybox";