<div class="home-11">
    <div class="container">
        <h2 class="title-2">
            CUSTOMERS' FEEDBACK
            <span></span>
        </h2>
    </div>
    <!-- /.container -->
    <ul class="home-11__slider">
        <li class="home-11__slider_item">
            <div class="home-11__slider_item_icon">
                <img alt="" src="../../assets/img/icons/facebook-big.png">
            </div>
            <div class="home-11__slider_item_content">
                <div class="home-11__slider_item_content_text">
                    "Good company! Vladimir helped me with documents. Everything went clearly and quickly. All told and
                    explained. You can safely use their services and not be afraid)) "
                </div>
                <div class="home-11__slider_item_content_info">
                    <div class="home-11__slider_item_content_info_name">Oksana</div>
                    <div class="home-11__slider_item_content_info_country">Latvia</div>
                    <div class="home-11__slider_item_content_info_flag">
                        <img alt="" src="../../assets/img/icons/latvia.png">
                    </div>
                </div>
            </div>
        </li>
        <li class="home-11__slider_item">
            <div class="home-11__slider_item_icon">
                <img alt="" src="../../assets/img/icons/facebook-big.png">
            </div>
            <div class="home-11__slider_item_content">
                <div class="home-11__slider_item_content_text">
                    “The befree provides results. I have used the company twice. I had little luck on my own but befree
                    provided a plan than produced results. Documents are completed on time, appointments are on time,
                    waiting is minimal. Thank You for making my life in the Ukraine easier!!!”
                </div>
                <div class="home-11__slider_item_content_info">
                    <div class="home-11__slider_item_content_info_name">William</div>
                    <div class="home-11__slider_item_content_info_country">USA</div>
                    <div class="home-11__slider_item_content_info_flag">
                        <img alt="" src="../../assets/img/icons/usa.png">
                    </div>
                </div>
            </div>
        </li>
        <li class="home-11__slider_item">
            <div class="home-11__slider_item_icon">
                <img alt="" src="../../assets/img/icons/facebook-big.png">
            </div>
            <div class="home-11__slider_item_content">
                <div class="home-11__slider_item_content_text">
                    “I have now received my residence permit. Some problems during the process but the befree staff were
                    very helpful in correcting everything. They also accompanied us to the office to ensure a smooth
                    transaction with the documents. Thanks to everyone at The befree
                </div>
                <div class="home-11__slider_item_content_info">
                    <div class="home-11__slider_item_content_info_name">Paul</div>
                    <div class="home-11__slider_item_content_info_country">United Kingdom</div>
                    <div class="home-11__slider_item_content_info_flag">
                        <img alt="" src="../../assets/img/icons/uk.png">
                    </div>
                </div>
            </div>
        </li>
        <li class="home-11__slider_item">
            <div class="home-11__slider_item_icon">
                <img alt="" src="../../assets/img/icons/facebook-big.png">
            </div>
            <div class="home-11__slider_item_content">
                <div class="home-11__slider_item_content_text">
                    “The service is great. Works exceptionally well with foreigners. Everyone speaks good English in the
                    office and no language barrier. Make it easy for foreigners.”
                </div>
                <div class="home-11__slider_item_content_info">
                    <div class="home-11__slider_item_content_info_name">Srikar</div>
                    <div class="home-11__slider_item_content_info_country">India</div>
                    <div class="home-11__slider_item_content_info_flag">
                        <img alt="" src="../../assets/img/icons/india.png">
                    </div>
                </div>
            </div>
        </li>
        <li class="home-11__slider_item">
            <div class="home-11__slider_item_icon">
                <img alt="" src="../../assets/img/icons/facebook-big.png">
            </div>
            <div class="home-11__slider_item_content">
                <div class="home-11__slider_item_content_text">
                    “I live in Georgia. I constantly use their services for my partners from different countries. It is
                    pleasant to work with them - very well organized, fast and most importantly honest, and from the
                    very beginning of our cooperation"
                </div>
                <div class="home-11__slider_item_content_info">
                    <div class="home-11__slider_item_content_info_name">Georgiy</div>
                    <div class="home-11__slider_item_content_info_country">Georgia</div>
                    <div class="home-11__slider_item_content_info_flag">
                        <img alt="" src="../../assets/img/icons/georgia.png">
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <!-- /.home-11__slider -->
</div>
<!-- /.home-11 -->