.home-2 {
	padding: 2em 0;
	background: $bg-red;
}

.home-2__card_list {
	display: flex;
	flex-wrap: wrap;
	margin: -10px;
}

.home-2__card {
	width: calc(20% - 20px);
	margin: 10px;
	padding: 0.8em 0.8em 2em;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
}

.home-2__card_icon {
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 0.5em;
}

.home-2__card_title {
	font-size: 20px;
	color: $white;
	text-align: center;
}

@include media-breakpoint-down(md) {
	.home-2__card_list {
		justify-content: center;
	}
	.home-2__card {
		width: calc(50% - 20px);
	}
}

@include media-breakpoint-down(sm) {
	.home-2__card {
		width: 100%;
	}
}