<div class="home-2">
    <div class="container">
        <ul class="home-2__card_list">
            <li class="home-2__card">
                <div class="home-2__card_icon">
                    <img alt="" src="../../assets/img/icons/home-2__icon-1.png">
                </div>
                <div class="home-2__card_title">We have been working since 2015</div>
            </li>
            <li class="home-2__card">
                <div class="home-2__card_icon">
                    <img alt="" src="../../assets/img/icons/home-2__icon-1.png">
                </div>
                <div class="home-2__card_title">Officially registrated law company</div>
            </li>
            <li class="home-2__card">
                <div class="home-2__card_icon">
                    <img alt="" src="../../assets/img/icons/home-2__icon-3.png">
                </div>
                <div class="home-2__card_title">Step-by-step payment procedure</div>
            </li>
            <li class="home-2__card">
                <div class="home-2__card_icon">
                    <img alt="" src="../../assets/img/icons/home-2__icon-1.png">
                </div>
                <div class="home-2__card_title">Office in capital of Ukraine</div>
            </li>
            <li class="home-2__card">
                <div class="home-2__card_icon">
                    <img alt="" src="../../assets/img/icons/home-2__icon-1.png">
                </div>
                <div class="home-2__card_title">5.0 - our rating on Facebook</div>
            </li>
        </ul>
        <!-- /.home-2__card_list -->
    </div>
    <!-- /.container -->
</div>
<!-- /.home-2 -->