<div class="modal fade" id="modalConsultation" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Leave a request and we will contact you as soon as possible</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form">
                    <div class="form-group">
                        <label>
                        <input class="form-control" placeholder="Enter your name *" required="" type="text">
                    </label>
                    </div>
                    <div class="form-group">
                        <label>
                        <input class="form-control" placeholder="11 or 12 or 13 digits phone number *" required="" type="tel">
                    </label>
                    </div>
                    <div class="form-group">
                        <label>
                        <input class="form-control" placeholder="Enter your e-mail *" required="" type="email">
                    </label>
                    </div>
                    <button class="btn-3">Send a request!</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalVisa-1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">TOURIST VISA PACKAGE FOR UP TO 30 DAYS VISA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form">
                    <div class="form-group">
                        <label>
                            <input class="form-control" placeholder="Enter your name *" required="" type="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <input class="form-control" placeholder="11 or 12 or 13 digits phone number *" required="" type="tel">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <input class="form-control" placeholder="Enter your e-mail *" required="" type="email">
                        </label>
                    </div>
                    <button class="btn-3">Send a request!</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalVisa-2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">E-VISA UP TO 30 DAYS OF STAY</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form">
                    <div class="form-group">
                        <label>
                            <input class="form-control" placeholder="Enter your name *" required="" type="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <input class="form-control" placeholder="11 or 12 or 13 digits phone number *" required="" type="tel">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <input class="form-control" placeholder="Enter your e-mail *" required="" type="email">
                        </label>
                    </div>
                    <button class="btn-3">Send a request!</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalVisa-3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">1-YEAR RESIDENCE PERMIT</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form">
                    <div class="form-group">
                        <label>
                            <input class="form-control" placeholder="Enter your name *" required="" type="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <input class="form-control" placeholder="11 or 12 or 13 digits phone number *" required="" type="tel">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <input class="form-control" placeholder="Enter your e-mail *" required="" type="email">
                        </label>
                    </div>
                    <button class="btn-3">Send a request!</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalVisa-4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">3-YEARS RESIDENCE PERMIT</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form">
                    <div class="form-group">
                        <label>
                            <input class="form-control" placeholder="Enter your name *" required="" type="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <input class="form-control" placeholder="11 or 12 or 13 digits phone number *" required="" type="tel">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <input class="form-control" placeholder="Enter your e-mail *" required="" type="email">
                        </label>
                    </div>
                    <button class="btn-3">Send a request!</button>
                </form>
            </div>
        </div>
    </div>
</div>