<div class="home-1" id="home-1">
    <div class="container">

        <div class="row no-gutters">

            <div class="col-lg-7">

                <div class="pr-lg-5">
                    <h1 class="title-1 mt-lg-5">
                        Legal assistance for getting tourist visa, e-visa, and residence perm it of Ukraine
                    </h1>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="home-1__card">
                                <div class="home-1__card_icon">
                                    <img src="../../assets/img/icons/time.svg" alt="">
                                </div>
                                <div class="home-1__card_content">
                                    Order online in 5 minutes
                                </div>
                            </div>
                            <a href="#tourist-visa" class="home-1__btn js-anchor-link btn-1">Tourist VISA Package</a>
                        </div>
                        <div class="col-sm-4">
                            <div class="home-1__card">
                                <div class="home-1__card_icon">
                                    <img src="../../assets/img/icons/star.svg" alt="">
                                </div>
                                <div class="home-1__card_content">
                                    Licensed Tour Operator
                                </div>
                            </div>
                            <a href="#e-visa" class="home-1__btn js-anchor-link btn-1">E-VISA</a>
                        </div>
                        <div class="col-sm-4">
                            <div class="home-1__card">
                                <div class="home-1__card_icon">
                                    <img src="../../assets/img/icons/pay.svg" alt="">
                                </div>
                                <div class="home-1__card_content">
                                    Pay safely online without commission
                                </div>
                            </div>
                            <a href="#residence-permit" class="home-1__btn js-anchor-link btn-1">Residence permit</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-5">
                <img class="home-1__img" src="../../assets/img/home-1__img.png" alt="">
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>
<!-- /.home-1 -->