.home-1 {
	padding-top: 20px;
	background-image: url(../../assets/img/bg/home-1.jpg);
	background-position: center bottom;
	background-size: cover;
	background-repeat: no-repeat;
}

.home-1__img {
	width: 100%;
}

.home-1__card {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 80px;
	margin-top: 20px;
}

.home-1__card_icon {
	margin-right: 10px;
	img {
		width: 40px;
	}
}

.home-1__card_content {
	font-size: 16px;
}

.home-1__btn {
	margin-top: 10px;
}

@include media-breakpoint-down(sm) {
	.home-1 {
		background: $white;
	}
	.home-1__card {
		justify-content: center;
		height: auto;
	}
	.home-1__card_icon {
		display: none;
	}
}